# Logistic Regression with basis expansions

In [33]:
import os
os.chdir('C:\Users\Lundi\Documents\Programming\Python\Kaggle\Titanic - 2015')

import TitanicPreprocessor as tp
import TitanicPredictor as tpred
import sklearn.ensemble as skl_ensemble
import sklearn.cross_validation as skl_cv
import sklearn.preprocessing as skl_pre
import sklearn.linear_model as skl_lm
import sklearn.grid_search as skl_gs
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

X, y, X_test, X_test_ids = tp.getData()

## Scaling data

In [18]:
X.head(2)

   Pclass  Age  SibSp  Parch     Fare  Is_male  Embarked Q  Embarked S
0       3   22      1      0   7.2500        1           0           1
1       1   38      1      0  71.2833        0           0           0

In [17]:
scaler = skl_pre.StandardScaler()
scaler.fit(X[['Age','Fare']])

X_scaled = X.copy()
X_scaled[['Age', 'Fare']] = pd.DataFrame(scaler.transform(X[['Age','Fare']]), columns=['Age','Fare'])
X_scaled.head(2)

   Pclass       Age  SibSp  Parch      Fare  Is_male  Embarked Q  Embarked S
0       3 -0.549963      1      0 -0.502445        1           0           1
1       1  0.632960      1      0  0.786845        0           0           0

#### Fitting the model

In [31]:
lr_clf = skl_lm.LogisticRegression()
unscaled_score = skl_cv.cross_val_score(lr_clf, X, y, cv=7)
scaled_score = skl_cv.cross_val_score(lr_clf, X_scaled, y, cv=7)
print 'Unscaled Scores:', np.mean(unscaled_score)
print 'Scaled Scores:', np.mean(scaled_score)

Unscaled Scores: 0.800237721401
Scaled Scores: 0.804719722535

So scaling the data does improve the predictions a bit

In [32]:
scaler = skl_pre.StandardScaler()
scaler.fit(X[['Age','Fare']])

def scaleData(X_to_scale):
    X_scaled = X_to_scale.copy()
    X_scaled[['Age', 'Fare']] = pd.DataFrame(scaler.transform(X[['Age','Fare']]), columns=['Age','Fare'])
    return X_scaled

## Polynomial basis expansion

In [75]:
poly_transform = skl_pre.PolynomialFeatures(degree=2, include_bias=False)
X_poly = poly_transform.fit_transform(X)
pd.DataFrame(X_poly)

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,3,22.000000,1,0,7.2500,1,0,1,9,66.000000,...,52.562500,7.2500,0.0000,7.2500,1,0,1,0,0,1
1,1,38.000000,1,0,71.2833,0,0,0,1,38.000000,...,5081.308859,0.0000,0.0000,0.0000,0,0,0,0,0,0
2,3,26.000000,0,0,7.9250,0,0,1,9,78.000000,...,62.805625,0.0000,0.0000,7.9250,0,0,0,0,0,1
3,1,35.000000,1,0,53.1000,0,0,1,1,35.000000,...,2819.610000,0.0000,0.0000,53.1000,0,0,0,0,0,1
4,3,35.000000,0,0,8.0500,1,0,1,9,105.000000,...,64.802500,8.0500,0.0000,8.0500,1,0,1,0,0,1
5,3,31.275746,0,0,8.4583,1,1,0,9,93.827239,...,71.542839,8.4583,8.4583,0.0000,1,1,0,1,0,0
6,1,54.000000,0,0,51.8625,1,0,1,1,54.000000,...,2689.718906,51.8625,0.0000,51.8625,1,0,1,0,0,1
7,3,2.000000,3,1,21.0750,1,0,1,9,6.000000,...,444.155625,21.0750,0.0000,21.0750,1,0,1,0,0,1
8,3,27.000000,0,2,11.1333,0,0,1,9,81.000000,...,123.950369,0.0000,0.0000,11.1333,0,0,0,0,0,1
9,2,14.000000,1,0,30.0708,0,0,0,4,28.000000,...,904.253013,0.0000,0.0000,0.0000,0,0,0,0,0,0
10,3,4.000000,1,1,16.7000,0,0,1,9,12.000000,...,278.890000,0.0000,0.0000,16.7000,0,0,0,0,0,1
11,1,58.000000,0,0,26.5500,0,0,1,1,58.000000,...,704.902500,0.0000,0.0000,26.5500,0,0,0,0,0,1
12,3,20.000000,0,0,8.0500,1,0,1,9,60.000000,...,64.802500,8.0500,0.0000,8.0500,1,0,1,0,0,1
13,3,39.000000,1,5,31.2750,1,0,1,9,117.000000,...,978.125625,31.2750,0.0000,31.2750,1,0,1,0,0,1
14,3,14.000000,0,0,7.8542,0,0,1,9,42.000000,...,61.688458,0.0000,0.0000,7.8542,0,0,0,0,0,1
15,2,55.000000,0,0,16.0000,0,0,1,4,110.000000,...,256.000000,0.0000,0.0000,16.0000,0,0,0,0,0,1
16,3,2.000000,4,1,29.1250,1,1,0,9,6.000000,...,848.265625,29.1250,29.1250,0.0000,1,1,0,1,0,0
17,2,35.489425,0,0,13.0000,1,0,1,4,70.978849,...,169.000000,13.0000,0.0000,13.0000,1,0,1,0,0,1
18,3,31.000000,1,0,18.0000,0,0,1,9,93.000000,...,324.000000,0.0000,0.0000,18.0000,0,0,0,0,0,1
19,3,23.100970,0,0,7.2250,0,0,0,9,69.302910,...,52.200625,0.0000,0.0000,0.0000,0,0,0,0,0,0
20,2,35.000000,0,0,26.0000,1,0,1,4,70.000000,...,676.000000,26.0000,0.0000,26.0000,1,0,1,0,0,1
21,2,34.000000,0,0,13.0000,1,0,1,4,68.000000,...,169.000000,13.0000,0.0000,13.0000,1,0,1,0,0,1
22,3,15.000000,0,0,8.0292,0,1,0,9,45.000000,...,64.468053,0.0000,8.0292,0.0000,0,0,0,1,0,0
23,1,28.000000,0,0,35.5000,1,0,1,1,28.000000,...,1260.250000,35.5000,0.0000,35.5000,1,0,1,0,0,1
24,3,8.000000,3,1,21.0750,0,0,1,9,24.000000,...,444.155625,0.0000,0.0000,21.0750,0,0,0,0,0,1
25,3,38.000000,1,5,31.3875,0,0,1,9,114.000000,...,985.175156,0.0000,0.0000,31.3875,0,0,0,0,0,1
26,3,26.302886,0,0,7.2250,1,0,0,9,78.908657,...,52.200625,7.2250,0.0000,0.0000,1,0,0,0,0,0
27,1,19.000000,3,2,263.0000,1,0,1,1,19.000000,...,69169.000000,263.0000,0.0000,263.0000,1,0,1,0,0,1
28,3,28.082263,0,0,7.8792,0,1,0,9,84.246790,...,62.081793,0.0000,7.8792,0.0000,0,0,0,1,0,0
29,3,28.321003,0,0,7.8958,1,0,1,9,84.963009,...,62.343658,7.8958,0.0000,7.8958,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,2,21.000000,1,0,11.5000,1,0,1,4,42.000000,...,132.250000,11.5000,0.0000,11.5000,1,0,1,0,0,1
862,1,48.000000,0,0,25.9292,0,0,1,1,48.000000,...,672.323413,0.0000,0.0000,25.9292,0,0,0,0,0,1
863,3,0.500000,8,2,69.5500,0,0,1,9,1.500000,...,4837.202500,0.0000,0.0000,69.5500,0,0,0,0,0,1
864,2,24.000000,0,0,13.0000,1,0,1,4,48.000000,...,169.000000,13.0000,0.0000,13.0000,1,0,1,0,0,1
865,2,42.000000,0,0,13.0000,0,0,1,4,84.000000,...,169.000000,0.0000,0.0000,13.0000,0,0,0,0,0,1
866,2,27.000000,1,0,13.8583,0,0,0,4,54.000000,...,192.052479,0.0000,0.0000,0.0000,0,0,0,0,0,0
867,1,31.000000,0,0,50.4958,1,0,1,1,31.000000,...,2549.825818,50.4958,0.0000,50.4958,1,0,1,0,0,1
868,3,28.297644,0,0,9.5000,1,0,1,9,84.892931,...,90.250000,9.5000,0.0000,9.5000,1,0,1,0,0,1
869,3,4.000000,1,1,11.1333,1,0,1,9,12.000000,...,123.950369,11.1333,0.0000,11.1333,1,0,1,0,0,1
870,3,26.000000,0,0,7.8958,1,0,1,9,78.000000,...,62.343658,7.8958,0.0000,7.8958,1,0,1,0,0,1
871,1,47.000000,1,1,52.5542,0,0,1,1,47.000000,...,2761.943938,0.0000,0.0000,52.5542,0,0,0,0,0,1
872,1,33.000000,0,0,5.0000,1,0,1,1,33.000000,...,25.000000,5.0000,0.0000,5.0000,1,0,1,0,0,1
873,3,47.000000,0,0,9.0000,1,0,1,9,141.000000,...,81.000000,9.0000,0.0000,9.0000,1,0,1,0,0,1
874,2,28.000000,1,0,24.0000,0,0,0,4,56.000000,...,576.000000,0.0000,0.0000,0.0000,0,0,0,0,0,0
875,3,15.000000,0,0,7.2250,0,0,0,9,45.000000,...,52.200625,0.0000,0.0000,0.0000,0,0,0,0,0,0
876,3,20.000000,0,0,9.8458,1,0,1,9,60.000000,...,96.939778,9.8458,0.0000,9.8458,1,0,1,0,0,1
877,3,19.000000,0,0,7.8958,1,0,1,9,57.000000,...,62.343658,7.8958,0.0000,7.8958,1,0,1,0,0,1
878,3,28.321003,0,0,7.8958,1,0,1,9,84.963009,...,62.343658,7.8958,0.0000,7.8958,1,0,1,0,0,1
879,1,56.000000,0,1,83.1583,0,0,0,1,56.000000,...,6915.302859,0.0000,0.0000,0.0000,0,0,0,0,0,0
880,2,25.000000,0,1,26.0000,0,0,1,4,50.000000,...,676.000000,0.0000,0.0000,26.0000,0,0,0,0,0,1
881,3,33.000000,0,0,7.8958,1,0,1,9,99.000000,...,62.343658,7.8958,0.0000,7.8958,1,0,1,0,0,1
882,3,22.000000,0,0,10.5167,0,0,1,9,66.000000,...,110.600979,0.0000,0.0000,10.5167,0,0,0,0,0,1
883,2,28.000000,0,0,10.5000,1,0,1,4,56.000000,...,110.250000,10.5000,0.0000,10.5000,1,0,1,0,0,1
884,3,25.000000,0,0,7.0500,1,0,1,9,75.000000,...,49.702500,7.0500,0.0000,7.0500,1,0,1,0,0,1
885,3,39.000000,0,5,29.1250,0,1,0,9,117.000000,...,848.265625,0.0000,29.1250,0.0000,0,0,0,1,0,0
886,2,27.000000,0,0,13.0000,1,0,1,4,54.000000,...,169.000000,13.0000,0.0000,13.0000,1,0,1,0,0,1
887,1,19.000000,0,0,30.0000,0,0,1,1,19.000000,...,900.000000,0.0000,0.0000,30.0000,0,0,0,0,0,1
888,3,19.436264,1,2,23.4500,0,0,1,9,58.308792,...,549.902500,0.0000,0.0000,23.4500,0,0,0,0,0,1
889,1,26.000000,0,0,30.0000,1,0,0,1,26.000000,...,900.000000,30.0000,0.0000,0.0000,1,0,0,0,0,0
890,3,32.000000,0,0,7.7500,1,1,0,9,96.000000,...,60.062500,7.7500,7.7500,0.0000,1,1,0,1,0,0

In [76]:
poly_transform.powers_

array([[1, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 1],
       [2, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 1],
       [0, 2, 0, 0, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 2, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 1],
       [0, 0, 0, 2, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 0, 1],
       [0, 0, 0, 0, 2, 0, 0, 0],
       [0, 0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 2, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0, 2, 0],
       [0, 0, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 0, 0, 0, 2]], dtype=int64)

#### Filtering out interaction terms

For powers of two:

In [78]:
X_poly_2 = pd.DataFrame(X_poly).ix[:, map(lambda powers: np.std(powers) > 0.65, poly_transform.powers_)]
X_poly_2.columns = map(lambda name: name + '^2', X.columns)
X_poly_2 = X_poly_2[['Age^2','Fare^2']]
X_poly_2

           Age^2        Fare^2
0     484.000000     52.562500
1    1444.000000   5081.308859
2     676.000000     62.805625
3    1225.000000   2819.610000
4    1225.000000     64.802500
5     978.172318     71.542839
6    2916.000000   2689.718906
7       4.000000    444.155625
8     729.000000    123.950369
9     196.000000    904.253013
10     16.000000    278.890000
11   3364.000000    704.902500
12    400.000000     64.802500
13   1521.000000    978.125625
14    196.000000     61.688458
15   3025.000000    256.000000
16      4.000000    848.265625
17   1259.499260    169.000000
18    961.000000    324.000000
19    533.654818     52.200625
20   1225.000000    676.000000
21   1156.000000    169.000000
22    225.000000     64.468053
23    784.000000   1260.250000
24     64.000000    444.155625
25   1444.000000    985.175156
26    691.841798     52.200625
27    361.000000  69169.000000
28    788.613511     62.081793
29    802.079212     62.343658
..           ...           ...
861   441.000000    132.250000
862  2304.000000    672.323413
863     0.250000   4837.202500
864   576.000000    169.000000
865  1764.000000    169.000000
866   729.000000    192.052479
867   961.000000   2549.825818
868   800.756642     90.250000
869    16.000000    123.950369
870   676.000000     62.343658
871  2209.000000   2761.943938
872  1089.000000     25.000000
873  2209.000000     81.000000
874   784.000000    576.000000
875   225.000000     52.200625
876   400.000000     96.939778
877   361.000000     62.343658
878   802.079212     62.343658
879  3136.000000   6915.302859
880   625.000000    676.000000
881  1089.000000     62.343658
882   484.000000    110.600979
883   784.000000    110.250000
884   625.000000     49.702500
885  1521.000000    848.265625
886   729.000000    169.000000
887   361.000000    900.000000
888   377.768364    549.902500
889   676.000000    900.000000
890  1024.000000     60.062500

[891 rows x 2 columns]

Merging these powers with the original data:

In [70]:
X_poly_full = pd.concat([X, X_poly_2], axis=1)
X_poly_full.head(2)

,Pclass,Age,SibSp,Parch,Fare,Is_male,Embarked Q,Embarked S,Age^2,Fare^2
0,3,22,1,0,7.2500,1,0,1,484,52.562500
1,1,38,1,0,71.2833,0,0,0,1444,5081.308859

#### Scaling the polynomial data

In [81]:
X_poly_scaled = X_poly_full.copy()
X_poly_scaled[['Age', 'Fare','Age^2','Fare^2']] = pd.DataFrame(skl_pre.scale(X_poly_scaled[['Age','Fare','Age^2','Fare^2']]), columns=['Age','Fare','Age^2','Fare^2'])
X_poly_scaled.head(2)

,Pclass,Age,SibSp,Parch,Fare,Is_male,Embarked Q,Embarked S,Age^2,Fare^2
0,3,-0.549963,1,0,-0.502445,1,0,1,-0.621561,-0.199305
1,1,0.632960,1,0,0.786845,0,0,0,0.433451,0.091101

#### Fitting the data with polynomials

In [82]:
lr_clf = skl_lm.LogisticRegression()
unscaled_score = skl_cv.cross_val_score(lr_clf, X, y, cv=7)
scaled_score = skl_cv.cross_val_score(lr_clf, X_scaled, y, cv=7)
scaled_poly_score = skl_cv.cross_val_score(lr_clf, X_poly_scaled, y, cv=7)
print 'Unscaled Scores:', np.mean(unscaled_score)
print 'Scaled Scores:', np.mean(scaled_score)
print 'Scaled Poly Scores:', np.mean(scaled_poly_score)

Unscaled Scores: 0.800237721401
Scaled Scores: 0.804719722535
Scaled Poly Scores: 0.802496507133

## Interaction Terms

In [89]:
interaction_transform = skl_pre.PolynomialFeatures(interaction_only=True)
X_interactions = pd.DataFrame(interaction_transform.fit_transform(X))

#### Fitting to logistic regression

In [90]:
unscaled_score = skl_cv.cross_val_score(lr_clf, X, y, cv=7)
scaled_score = skl_cv.cross_val_score(lr_clf, X_scaled, y, cv=7)
scaled_poly_score = skl_cv.cross_val_score(lr_clf, X_poly_scaled, y, cv=7)
unscaled_interaction_score = skl_cv.cross_val_score(lr_clf, X_interactions, y, cv=7)


print 'Unscaled Scores:', np.mean(unscaled_score)
print 'Scaled Scores:', np.mean(scaled_score)
print 'Scaled Poly Scores:', np.mean(scaled_poly_score)
print 'Unscaled Interactions Scores:', np.mean(unscaled_interaction_score)

Unscaled Scores: 0.800237721401
Scaled Scores: 0.804719722535
Scaled Poly Scores: 0.802496507133
Unscaled Interactions Scores: 0.814826160123

Adding the interaction terms definitely helps the prediction capacity

## Conclusions

1. Scaling improves prediction slightly (+0.44%)
2. Polynomial (degree = 2) does not improve predictions
3. Using interaction terms improves prediction (+1.4%)