# Generating 1000+ Models

In [1]:
import sys
import socket
computer_name = socket.gethostname()
if computer_name == 'Alexs-MacBook-Pro.local':
    base_path = "/Users/alexsutherland/Documents/Programming/Python/Kaggle/Titanic---2015"
else:    
    base_path = 'C:\Users\Lundi\Documents\Programming\Python\Kaggle\Titanic - 2015'
sys.path.append(base_path)
sys.path.append(base_path + "\Stacked Generalization")

import TitanicPreprocessor as tp
import TitanicPredictor as tpred
import metaLearning as metaLearn
meta_learn = metaLearn.metaLearning()
import sklearn.ensemble as skl_ensemble
import sklearn.linear_model as skl_lm
import sklearn.grid_search as skl_gs
import sklearn.cross_validation as skl_cv
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

/Users/alexsutherland/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

## Random Forest

In [2]:
rf_clf = skl_ensemble.RandomForestClassifier()

param_grid = [
    {'n_estimators': [10,100, 1000], 'criterion':['gini','entropy'], 'max_depth':[None,1,2,4,6,8,10], 'max_features':[1,2,4] }
    ]

rf_param_grid = skl_gs.ParameterGrid(param_grid = param_grid)

In [3]:
meta_learn.generateModelPredictions(rf_clf, rf_param_grid)

In [5]:
len(meta_learn.model_list)

226

## Logistic Regression

In [4]:
lr_clf = skl_lm.LogisticRegression()

param_grid = [
    {'penalty':['l1','l2'], 'C':np.logspace(-10,10,num=50), 'solver': ['liblinear'] }
    ]

lr_param_grid = skl_gs.ParameterGrid(param_grid = param_grid)

meta_learn.generateModelPredictions(lr_clf, lr_param_grid)

## AdaBoost with DT stumps

In [7]:
import sklearn.tree as skl_tree

In [10]:
dt_stump_clf = skl_tree.DecisionTreeClassifier(max_depth=1)
ada_dt_stump_clf = skl_ensemble.AdaBoostClassifier(base_estimator=dt_stump_clf)

param_grid = [
    {'n_estimators':[50, 100, 500, 1000], 'learning_rate':[0.001, 0.1, 1.0] }
    ]

ada_dt_stump_param_grid = skl_gs.ParameterGrid(param_grid = param_grid)

meta_learn.generateModelPredictions(ada_dt_stump_clf, ada_dt_stump_param_grid)

In [11]:
len(meta_learn.model_list)

235

## Random Subspace Method with kNN

In [2]:
import sklearn.neighbors as skl_neighbors

In [8]:
for k in np.arange(2,30):
    for repeat in xrange(2):
        knn_subspace_clf = skl_ensemble.BaggingClassifier(skl_neighbors.KNeighborsClassifier(n_neighbors=k), 
                                   bootstrap=False, 
                                   bootstrap_features=True, 
                                   max_features=0.7, 
                                    random_state=repeat)
        meta_learn.generateSingleModelPredictions(knn_subspace_clf)

In [12]:
meta_learn.model_list[len(meta_learn.model_list)-1]

"BaggingClassifier(base_estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',\n           metric_params=None, n_jobs=1, n_neighbors=29, p=2,\n           weights='uniform'),\n         bootstrap=False, bootstrap_features=True, max_features=0.7,\n         max_samples=1.0, n_estimators=10, n_jobs=1, oob_score=False,\n         random_state=1, verbose=0, warm_start=False)"

In [4]:
knn_subspace_clf = skl_neighbors.KNeighborsClassifier(n_neighbors=3)

In [8]:
knn_subspace_clf_string = str(knn_subspace_clf)
knn_subspace_clf_string

"KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',\n           metric_params=None, n_jobs=1, n_neighbors=3, p=2,\n           weights='uniform')"

In [15]:
exec 'import sklearn; x = sklearn.neighbors.'+knn_subspace_clf_string

In [23]:
meta_learn.data['X_probe']

,Pclass,Age,SibSp,Parch,Fare,Is_male,Embarked Q,Embarked S
495,3,26.197559,0,0,14.4583,1,0,0
648,3,28.326038,0,0,7.5500,1,0,1
278,3,7.000000,4,1,29.1250,1,1,0
31,1,31.671301,1,0,146.5208,0,0,0
255,3,29.000000,0,2,15.2458,0,0,0
298,1,42.477347,0,0,30.5000,1,0,1
609,1,40.000000,0,0,153.4625,0,0,1
318,1,31.000000,0,2,164.8667,0,0,1
484,1,25.000000,1,0,91.0792,1,0,0
367,3,23.100909,0,0,7.2292,0,0,0
704,3,26.000000,1,0,7.8542,1,0,1
346,2,40.000000,0,0,13.0000,0,0,1
196,3,31.286060,0,0,7.7500,1,1,0
535,2,7.000000,0,2,26.2500,0,0,1
310,1,24.000000,0,0,83.1583,0,0,0
14,3,14.000000,0,0,7.8542,0,0,1
350,3,23.000000,0,0,9.2250,1,0,1
145,2,19.000000,1,1,36.7500,1,0,1
614,3,35.000000,0,0,8.0500,1,0,1
803,3,0.420000,0,1,8.5167,1,0,0
144,2,18.000000,0,0,11.5000,1,0,1
708,1,22.000000,0,0,151.5500,0,0,1
778,3,31.286242,0,0,7.7375,1,1,0
270,1,42.470066,0,0,31.0000,1,0,1
474,3,22.000000,0,0,9.8375,0,0,1
319,1,40.000000,1,1,134.5000,0,0,0
519,3,32.000000,0,0,7.8958,1,0,1
141,3,22.000000,0,0,7.7500,0,0,1
880,2,25.000000,0,1,26.0000,0,0,1
642,3,2.000000,3,2,27.9000,0,0,1
...,...,...,...,...,...,...,...,...
465,3,38.000000,0,0,7.0500,1,0,1
731,3,11.000000,0,0,18.7875,1,0,0
876,3,20.000000,0,0,9.8458,1,0,1
211,2,35.000000,0,0,21.0000,0,0,1
811,3,39.000000,0,0,24.1500,1,0,1
165,3,9.000000,0,2,20.5250,1,0,1
238,2,19.000000,0,0,10.5000,1,0,1
188,3,40.000000,1,1,15.5000,1,1,0
471,3,38.000000,0,0,8.6625,1,0,1
553,3,22.000000,0,0,7.2250,1,0,0
456,1,65.000000,0,0,26.5500,1,0,1
366,1,60.000000,1,0,75.2500,0,0,0
592,3,47.000000,0,0,7.2500,1,0,1
738,3,28.321003,0,0,7.8958,1,0,1
155,1,51.000000,0,1,61.3792,1,0,0
391,3,21.000000,0,0,7.7958,1,0,1
886,2,27.000000,0,0,13.0000,1,0,1
724,1,27.000000,1,0,53.1000,1,0,1
453,1,49.000000,1,0,89.1042,1,0,0
66,2,29.000000,0,0,10.5000,0,0,1
841,2,16.000000,0,0,10.5000,1,0,1
408,3,21.000000,0,0,7.7750,1,0,1
462,1,47.000000,0,0,38.5000,1,0,1
268,1,58.000000,0,1,153.4625,0,0,1
161,2,40.000000,0,0,15.7500,0,0,1
363,3,35.000000,0,0,7.0500,1,0,1
406,3,51.000000,0,0,7.7500,1,0,1
866,2,27.000000,1,0,13.8583,0,0,0
881,3,33.000000,0,0,7.8958,1,0,1
618,2,4.000000,2,1,39.0000,0,0,1